<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/favicon.ico">

		<title>成员列表</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/css/list.css" />
	</head>

	<body>
		<!--引入公共部分-->
		<% include nav.ejs %>
		<!-- Main jumbotron for a primary marketing message or call to action -->
		
		<h2 class="container title padding-top-50">平台所有用户</h2>
		<div class="container">
			<!-- Example row of columns -->
			<div class="row" id="all-content">
				<div class="col-md-5 col-lg-offset-1 my-list">
					<div class="list-title col-lg-2">
						<img src="/moren.jpg" class="list-avatar" alt="" title="" />
					</div>
					<div class="col-lg-3 col-lg-offset-1">	
						<p class="list-username">用户名：username</p>
						<p class="message-count">已发表222条说说</p>
						<a href="javascript:;" class="list-detail">查看全部说说</a>
					</div>
				</div>
				<div class="col-md-5 col-lg-offset-1 my-list">
					<div class="list-title col-lg-2">
						<img src="/moren.jpg" class="list-avatar" alt="" title="" />
					</div>
					<div class="col-lg-3 col-lg-offset-1">	
						<p class="list-username">用户名：username</p>
						<p class="message-count">已发表222条说说</p>
						<a href="javascript:;" class="list-detail">查看全部说说</a>
					</div>
				</div>
				<div class="col-md-5 col-lg-offset-1 my-list">
					<div class="list-title col-lg-2">
						<img src="/moren.jpg" class="list-avatar" alt="" title="" />
					</div>
					<div class="col-lg-3 col-lg-offset-1">	
						<p class="list-username">用户名：username</p>
						<p class="message-count">已发表222条说说</p>
						<a href="javascript:;" class="list-detail">查看全部说说</a>
					</div>
				</div>
				<div class="col-md-5 col-lg-offset-1 my-list">
					<div class="list-title col-lg-2">
						<img src="/moren.jpg" class="list-avatar" alt="" title="" />
					</div>
					<div class="col-lg-3 col-lg-offset-1">	
						<p class="list-username">用户名：username</p>
						<p class="message-count">已发表222条说说</p>
						<a href="javascript:;" class="list-detail">查看全部说说</a>
					</div>
				</div>
				<div class="col-md-5 col-lg-offset-1 my-list">
					<div class="list-title col-lg-2">
						<img src="/moren.jpg" class="list-avatar" alt="" title="" />
					</div>
					<div class="col-lg-3 col-lg-offset-1">	
						<p class="list-username">用户名：username</p>
						<p class="message-count">已发表222条说说</p>
						<a href="javascript:;" class="list-detail">查看全部说说</a>
					</div>
				</div>
				<div class="col-md-5 col-lg-offset-1 my-list">
					<div class="list-title col-lg-2">
						<img src="/moren.jpg" class="list-avatar" alt="" title="" />
					</div>
					<div class="col-lg-3 col-lg-offset-1">	
						<p class="list-username">用户名：username</p>
						<p class="message-count">已发表222条说说</p>
						<a href="javascript:;" class="list-detail">查看全部说说</a>
					</div>
				</div>
			</div>
			
			<hr />

			<footer>
				<p>&copy; 2017 Company, Inc.</p>
			</footer>
		</div>
		<!-- /container -->
		<script src="/js/jquery-3.2.1.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/warnLayer.js" ></script>
		<script src="/js/list.js"></script>
		<% include ajaxLoading.ejs %>
	</body>

</html>