<link href="/css/reset.css" type="text/css" rel="stylesheet" />

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">简易微博</a>
			<ul class="nav navbar-nav">
				<li <% if(active == "首页"){ %> class="active"<% } %>>
					<a href="/">全部说说 <span class="sr-only">(current)</span></a>
				</li>
				<% if(islogin){ %>
					<li <% if(active == "我的说说"){ %> class="active"<% } %>>
						<a href="/user/<%= username %>">我的说说</a>
					</li>
				<% } %>
				<li <% if(active == "成员列表"){ %> class="active"<% } %>>
					<a href="/users/list">成员列表</a>
				</li>
				<li class="dropdown" style="display:none;">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Action</a>
						</li>
						<li>
							<a href="#">Another action</a>
						</li>
						<li>
							<a href="#">Something else here</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="#">Separated link</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="#">One more separated link</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<% if(!islogin){ %>
				<ul class="nav navbar-nav navbar-right">
					<li<% if(active == "注册"){ %> class="active"<% } %>>
						<a href="/public/regist" class="btn regist">注册</a>
					</li>
					<li<% if(active == "登录"){ %> class="active"<% } %>>
						<a href="/user/login" class="btn login">登录</a>
					</li>
				</ul>
			<% }else{ %>
				<div class="navbar-form navbar-right">
					<a href="javascript:;" class="welcome">欢迎您, <%= username %> !</a>
					<a href="javascript:;" class="logout">退出登录</a>
				</div>
			<% } %>
		</div>
		<!--/.navbar-collapse -->
	</div>
</nav>