<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>上传图片</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/css/regist.css"/>
	</head>
	<body>
		<!--引入公共部分-->
		<% include nav.ejs %>
		
		<div class="page-header">
		  <h1>图片上传页面<small>请选择您要上传的图片</small></h1>
		</div>
		<form class="form-horizontal col-lg-5" action="/doUpLoadImage" method="post" enctype="multipart/form-data">
		  <div class="form-group">
			<label for="file" class="col-sm-2 control-label">文件名：</label>
			<div class="col-sm-10">
			  <input type="file" class="form-control" id="file" name="picture" placeholder="">
			</div>
		 </div>
		  <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
			  <button type="submit" class="btn btn-success">上传图片</button>
			</div>
		  </div>
		</form>
		<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/upLoadImage.js" ></script>
	</body>
</html>